@media (max-width: 639.9px) {
  .containerFullScreen {
    background-color: var(--popover);
    position: fixed;
    inset: 0px;
    z-index: 50;
    padding: 1rem /* 16px */;
    margin: 0px;
    align-items: flex-start;

    .command {
      height: auto;
    }
    .backDrop {
      background-color: var(--popover);
      display: block;
      position: absolute;
      inset: 0;
      z-index: -1;
    }
    .back {
      display: flex;
    }
    .input {
      width: 100%;
    }
  }
}
