@import "tailwindcss/base" layer(my-base);
@import "tailwindcss/components" layer(my-components);
@import "react-date-picker/dist/DatePicker.css" layer(date-picker);
@import "react-calendar/dist/Calendar.css" layer(calendar);
@import "tailwindcss/utilities" layer(my-utilities);

@layer my-base {
  :root {
    --background: 0.0 0.00% 100.00%;
    --foreground: 210.0 72.73% 4.31%;

    --primary: 210.18 73.33% 44.12%;
    --primary-foreground: 210.0 57.14% 94.51%;

    --card: 210.0 57.14% 97.25%;
    --card-foreground: 210.0 72.73% 4.31%;

    --popover: 0.0 0.00% 100.00%;
    --popover-foreground: 210.0 72.73% 4.31%;

    --secondary: 208.8 58.14% 91.57%;
    --secondary-foreground: 0.0 0.00% 0.00%;

    --muted: 210.0 57.14% 94.51%;
    --muted-foreground: 0.0 0.00% 40.00%;

    --accent: 210.0 57.14% 94.51%;
    --accent-foreground: 210.0 70.59% 6.67%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210.91 57.89% 88.82%;
    --input: 211.43 21.21% 80.59%;
    --ring: 210.18 73.33% 44.12%;

    --chart-1: 210.18 73.33% 44.12%;
    --chart-2: 210.43 57.85% 52.55%;
    --chart-3: 210.28 57.84% 63.73%;
    --chart-4: 210.33 57.96% 69.22%;
    --chart-5: 210.0 57.81% 74.90%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0.0 0.00% 0.00%;
    --foreground: 208.8 58.14% 91.57%;

    --primary: 210.18 73.33% 44.12%;
    --primary-foreground: 210.0 57.14% 94.51%;

    --card: 210.0 21.43% 5.49%;
    --card-foreground: 208.8 58.14% 91.57%;

    --popover: 0.0 0.00% 0.00%;
    --popover-foreground: 208.8 58.14% 91.57%;

    --secondary: 210.53 72.15% 15.49%;
    --secondary-foreground: 0.0 0.00% 100.00%;

    --muted: 0.0 0.00% 9.80%;
    --muted-foreground: 0.0 0.00% 50.20%;

    --accent: 210.53 72.15% 15.49%;
    --accent-foreground: 208.8 58.14% 91.57%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 210.91 73.33% 8.82%;
    --input: 211.76 17.17% 19.41%;
    --ring: 210.18 73.33% 44.12%;

    --chart-1: 210.18 73.33% 44.12%;
    --chart-2: 210.43 72.92% 37.65%;
    --chart-3: 210.28 72.79% 28.82%;
    --chart-4: 210.0 72.58% 24.31%;
    --chart-5: 210.4 74.26% 19.80%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer calendar {
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-secondary;
  }
}
