<!doctype html>
<html lang="en">
  <head>
    <script>
      try {
        var themes = ["light", "dark"];
        var el = document.documentElement;
        var theme =
          localStorage.getItem("<%= import.meta.env.PUBLIC_THEME_KEY %>") ||
          (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
        el.classList.remove(...themes);
        el.classList.add(theme);

        if (themes.includes(theme)) {
          el.style.colorScheme = theme;
        }
      } catch (e) {
        //
      }
    </script>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="<%= import.meta.env.PUBLIC_UMAMI_WEBSITE_ID %>"
    ></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1220593650780710"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="<%= mountId %>"></div>
  </body>
</html>
